# Folder yang dikecualikan
__pycache__/
tool/
# File yang dikecualikan
detree.py
model_nbayes.py
nb_withoutsmote.py
rforest.py
hitungdata.py
requirements.txt
combined_cyberbullying.csv
processed_tfidf.pkl
processed_comments.csv